.bread {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bread-large {
  width: 300px;
  height: 300px;
}

.bread-medium {
  width: 200px;
  height: 200px;
}

.bread-small {
  width: 120px;
  height: 120px;
}

.bread-base-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bread-base-image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 0;
}


.bread-toppings {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.topping-image {
  position: absolute;
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

/* Spread positioned on top */
.spread-image {
  width: 70%;
  height: 60%;
  bottom: 15%;
  z-index: 1;
}

/* Jam positioned on top of spread */
.jam-image {
  width: 65%;
  height: 55%;
  bottom: 20%;
  z-index: 2;
}

/* Meat positioned on top */
.meat-image {
  width: 60%;
  height: 50%;
  bottom: 25%;
  z-index: 3;
}

/* Mold positioned on top */
.mold-image {
  width: 50%;
  height: 45%;
  bottom: 30%;
  z-index: 4;
}

/* Mystery positioned on top */
.mystery-image {
  width: 55%;
  height: 50%;
  bottom: 28%;
  z-index: 5;
}

/* Veggie positioned on top */
.veggie-image {
  width: 65%;
  height: 55%;
  bottom: 22%;
  z-index: 6;
}
